node_modules
libs
dist
public/libraries
public/openscad.js
public/openscad.wasm
src/wasm
package-lock.json
.DS_Store

# Environment variables
.env.local
.env*.local


# backend

modal/venv/
modal/__pycache__/
*.gguf