@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-ExtraBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Marlin Soft SQ';
  src: url('./MarlinSoftSQ-ExtraBlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
